body {
  font-family: sans-serif;
  font-size: 18px;
  margin: auto;
  max-width: 1280px;
  background-color: beige;
}

.centering {
  padding-left: 500px;
}

.navbar {
  background-color: black;
  border-radius: 2px;

}

hr {
  height: 3px;
  background-color: black;
  border: none;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
